.sec1{
    background-color: rgb(253, 161, 161);
}

.sec2{
    background-image: url("gato.jpg");
    color: blue;
    background-repeat: repeat-x;
    background-size: 100px;
}

.sec3{
    background-color: rgba(122, 253, 122, 0.7);
}

.sec4{
    background-image: url("gato.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(156, 250, 250);
    background-size: 650px;
}

table tr td{
    border: 2px black solid;
    position: center;
    text-align: center;
    width: 6em;
}

#red{
    background-color: red;
    width: 15em;
}

#b30000{
    background-color: #b30000;
}

#b660000{
    background-color: #660000;
}

#green{
    background-color: green;
}

#b99ff99{
    background-color: #99ff99;
}

#b004d00{
    background-color: #004d00;
}

#blue{
    background-color: blue;
}

#ccccff{
    background-color: #ccccff;
}

#b000066{
    background-color: #000066;
}

#ifsp{
    background-image: url("ifsp.png");
    background-position: center right;
    background-size: 15%;
    background-repeat: no-repeat;
}

#paleta{
    background-image: url("paleta.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 7%;
}

img{
    opacity: 0.5;
}
  
img:hover {
    opacity: 1.0;
}

#op1{
    background-color: green;
    opacity: 1.0;
}

#op2{
    background-color: green;
    opacity: 0.8;
}

#op3{
    background-color: green;
    opacity: 0.6;
}

#op4{
    background-color: green;
    opacity: 0.4;
}

#op5{
    background-color: green;
    opacity: 0.2;
}

#op6{
    background-color: rgba(0, 128, 0, 0.8);
}

#op7{
    background-color: rgba(0, 128, 0, 0.6);
}

#op8{
    background-color: rgba(0, 128, 0, 0.4);
}

#op9{
    background-color: rgba(0, 128, 0, 0.2);
}

#p1{
    background-color: lightgreen;
}

#p2{
    background-color: rgb(241, 241, 241);
}

#p3{
    background-color: rgb(189, 232, 247);
}